body {
  margin: 0;
  overflow-x: hidden;
  position: relative;

  font-family: "Lato", sans-serif;
}

.example::-webkit-scrollbar {
  display: none;
}

footer,
section {
  padding-left: min(160px, 10%);
  padding-right: min(160px, 10%);
}

footer {
  height: 150px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid rgb(143, 135, 135, 0.2);
}

header {
  background-color: #ffffff;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(143, 135, 135, 0.2);
}

h3 {
  margin: 0;
}

.container {
  min-height: 100vh;
  background-color: rgb(232, 232, 232);
}

.add-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-btn {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fcf2c1;

  font-size: 80px;
  font-weight: normal;
  padding: 8px;

  margin: 24px 8px 8px 8px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.add-btn:hover {
  cursor: pointer;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.note-block {
  position: relative;
  margin: 16px;
  max-width: 300px;
  height: 150px;
  background-color: #fcf2c1;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.note-block:hover {
  cursor: pointer;
}

.note-text {
  height: 75px;
  padding: 0px 24px 24px 24px;
  overflow: hidden;
  word-wrap: break-word;
}

.note-cancel {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-left: 70%;
  height: 24px;
  padding: 1px;
  text-align: center;
}

.note-cancel:hover .trash-img {
  /* display: block; */
  opacity: 1;
}

.note-cancel:hover .restore-img {
  /* display: block; */
  opacity: 1;
}

.restore-img,
.trash-img {
  width: 14px;
  height: 14px;
  padding: 2px;
  /* display: none; */
  opacity: 0;
  transition: opacity 0.4s;
}

.restore-img {
  margin-right: 2px;
}

.trash-img {
  margin-right: 8px;
}

.restore-img:hover,
.trash-img:hover {
  width: 14px;
  height: 14px;
  background-color: rgba(236, 217, 108, 0.5);
  border-radius: 5px;
}

.create-note-section,
.edit-note-section {
  width: 100%;
}

.create-note-card,
.edit-note-card {
  position: absolute;
  z-index: 1;
  width: 100%;
  max-width: 600px;
  min-height: 600px;
  height: auto;
  background-color: #fcf2c1;
  border-radius: 20px;
  /* border: 5px solid rgb(151, 105, 18); */
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-note-title,
.edit-note-title {
  font-size: 32px;
  font-weight: bolder;
  color: black;
}

.create-line,
.edit-line {
  height: 1px;
  width: 90%;
  background-color: rgb(0, 0, 0);
}

.create-textarea,
.edit-textarea {
  height: 500px;
}

.create-btn-container,
.edit-btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

input,
textarea {
  width: 90%;
  padding: 8px;
  margin: 16px 8px 8px 8px;

  background-color: #fcf2c1bc;
  border: 0;
  outline: none;
}

input {
  font-size: larger;
}

input::placeholder,
textarea::placeholder {
  color: rgb(55, 55, 55);
}

.cancel-btn {
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
  margin: 16px;
  width: 30%;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: rgb(0, 0, 0);
}

.save-btn {
  font-size: larger;
  font-weight: bold;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.save-btn-container {
  width: 30%;
  margin: 16px;
  cursor: pointer;
}

.cancel-btn,
.save-btn {
  background-color: #fcf2c1;
}

.d-none {
  display: none;
}

.ml-250 {
  margin-left: 250px;
}

@media screen and (max-width: 480px) {
  .restore-img,
  .trash-img {
    opacity: 1;
  }

  .create-note-card,
  .edit-note-card {
    max-width: 300px;
    min-height: 300px;
  }
}
