<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/src/components/main/main.css" />
  </head>
  <body>
    <div class="container">
      <section class="add-section">
        <div onclick="addCard()" class="add-btn">+</div>
      </section>

      <section class="edit-note-section">
        <div id="editCard" class="edit-note-card d-none">
          <input
            type="text"
            class="edit-note-title"
            id="editCardInput"
            placeholder="Title"
            required
          />
          <div class="edit-line"></div>
          <textarea
            class="edit-textarea"
            id="editCardTextArea"
            type="text"
            placeholder="Your note"
            required
          ></textarea>
          <div class="edit-line"></div>
          <div class="edit-btn-container">
            <button
              class="cancel-btn"
              onclick="closeEditCard()"
              id="closeEditCard"
            >
              CANCEL
            </button>
            <button
              class="save-btn"
              onclick="saveEditCard()"
              id="closeEditCard"
            >
              SAVE
            </button>
          </div>
        </div>
      </section>

      <div class="content" id="content"></div>
    </div>
    <script>
      includeHTML();
    </script>
  </body>
</html>
