<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/components/header/header.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <img
        onclick="openNav()"
        class="nav-menu"
        src="/src/assets/icons/menubar-brown.svg"
        alt=""
      />
    </div>

    <a href="/src/index.html" class="header-logo">
      <img class="header-img" src="/src/assets/icon1.png" alt="" />
      <h1>BitNote</h1>
    </a>
  </body>
</html>
