header {
  background-color: antiquewhite;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-img {
  width: 100%;
  max-width: 40px;
  max-height: 40px;
  aspect-ratio: 1/1;
}
