<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/components/footer/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <div class="footer-logo">
        <img class="footer-img" src="/src/assets/icon1.png" alt="" />
        <div class="footer-logo-text">BitNote</div>
      </div>

      <div>Copyright © 2024 Hanbit Chang</div>
    </div>

    <div class="footer-social-container">
      <a class="footer-link" href="https://github.com/hanbit10">
        <img
          class="footer-social-logo"
          src="/src/assets/icons/icons8-git-lined.svg"
          alt=""
      /></a>

      <a class="footer-link" href="https://facebook.com/">
        <img
          class="footer-social-logo"
          src="/src/assets/icons/icons8-facebook-lined.svg"
          alt=""
      /></a>

      <a class="footer-link" href="https://www.instagram.com/">
        <img
          class="footer-social-logo"
          src="/src/assets/icons/icons8-instagram-lined.svg"
          alt=""
      /></a>
    </div>
    <a href="#">Impressum & Datenschutz</a>
  </body>
</html>
