body {
  margin: 0;
  overflow-x: hidden;
  position: relative;

  font-family: "Lato", sans-serif;
}

.example::-webkit-scrollbar {
  display: none;
}

footer,
section {
  padding-left: min(160px, 10%);
  padding-right: min(160px, 10%);
}

header {
  padding-left: min(10px, 10%);
  padding-right: min(160px, 10%);
}

h3 {
  margin: 0;
}
