<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/src/components/responsive/responsive.css" />
  </head>
  <body>
    <div id="mySidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/src/index.html">Home</a>
      <a href="/src/pages/trash-page/trash-page.html">Trsh</a>
      <a href="#">About</a>
      <a href="#">Services</a>
      <a href="#">Clients</a>
      <a href="#">Contact</a>
    </div>

    <!-- <div id="main">
      <h2>Collapsed Sidebar</h2>
    </div> -->
  </body>
</html>
